<!DOCTYPE html>
<html>
    <body>
      <div class="card" id="gv-card">
        <p>
          <strong>Vision's Guess:</strong> "{{googleVisionGuess}}"
        </p>
        <p>
          <strong>Wiki's Find:</strong> <a href={{wiki.url}} target="_blank"> {{wiki.title}} </a>
        </p>
      </div>

      <button class="accordion"><strong>Summary</strong></button>
      <div class="card" id="gv-card">
        <p>{{wiki.summary}}</p>
      </div>
      
      <div>
        {{#each wiki.content}}
          <button class="accordion"><strong>{{this.title}}</strong></button>
          <div class="card" id="gv-card">
            <p>{{this.content}} <a href={{this.url}} target="_blank"> <strong>(...)</strong></a></p>
          </div>
        {{/each}}
      </div>

      <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "none") {
              panel.style.display = "block";
            } else {
              panel.style.display = "none";
            }
          });
        }
      </script>
      
      <div>
           
      </div>
  </body>
</html>

